@tailwind base;
@tailwind components;
@tailwind utilities;

/* GLOBALS --> */

html {
    @apply text-neutral-80 h-full bg-neutral-10;
}

.button-primary {
    @apply flex justify-center rounded-md items-center border border-transparent bg-azul-60 py-2 px-4 text-sm font-medium text-white shadow-sm text-2xs
}

.button-secondary {
    @apply flex justify-center rounded-md border border items-center border-neutral-30 py-2 px-4 text-sm font-medium text-neutral-80 shadow-sm text-2xs bg-white
}

.option {
    @apply grid rounded-md grid-cols-[1fr_15px] gap-x-[15px] items-center px-[8px] cursor-pointer py-[9px] my-2.5;
}

.option.rect {
    border-radius: 0;
    @apply my-0;
}

.option:hover {
    @apply bg-neutral-20;
}
 
.container {
    @apply w-[1600px] max-w-[100%] mx-auto;
    z-index: 10;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-color-default {
    @apply text-neutral-80;
}

.text-color-title {
    @apply text-azul-60;
}

.text-color-light {
    @apply text-neutral-60;
}

.title {
    @apply text-azul-60 text-md text-color-title font-bold;
}

.title::after {
    content: '';
    display: table;
    @apply h-0 border-t-[2px] border-t-azul-60 w-[100px] mt-1;
}
.title-center::after {
    content: '';
    display: table;
    @apply h-0 border-t border-t-azul-60 w-[100px] mt-1 mx-auto;
}

.home-main {
    min-height: calc(100vh - 90px);
    width: calc(100% - 442px);
}

.hr {
    width: 100%;
    height: 0px;
    @apply border-neutral-40 border-b;
}

.close {
    position: absolute;
    right: 26px;
    top: 26px;
    width: 22px;
    cursor: pointer;
}

.composed-button {
    @apply flex justify-between items-center;
}

.border-light {
    border: 1px solid #D1D5DB;
}

.border-b-light {
    border-bottom: 1px solid #D1D5DB;
}

.bg-azul-8 {
    background-color: #EFEFF9;
}

.index-list {
    display: block;
    -moz-column-count: 3;
    -moz-column-gap: 20px;
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
    column-count: 3;
    column-gap: 20px;
    column-fill: balance;
}
/* <-- GLOBALS */
/* CSS TRIGGER --> */

.css-trigger {
    position: absolute;
    width: 0;
    height: 0;
    visibility: hidden;
}

.css-trigger-label {
    display: inherit;
}

.css-trigger:not(:checked) + .css-trigger-target {
    display: none !important;
}
.css-trigger:not(:checked) + .css-trigger-target-radio {
    display: none !important;
}
.css-trigger:checked + .css-trigger-target-radio + .css-trigger-target-radio {
    display: none !important;
}

/* <-- CSS TRIGGER */
/* FORM CONTROLS --> */

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 9px;
}

input.form-control, textarea.form-control {
    border: 1px solid #D1D5DB;
    @apply  py-2 pl-3 text-2xs text-neutral-80 rounded-[6px];
}

select.form-control {
    @apply block w-full rounded-md border-neutral-40 py-2 pl-3 pr-10 text-2xs;
}

.form-control:focus {
    @apply border-azul-60 outline-none;
}

label.toggle {
    transform: scale(1.4);
    @apply bg-neutral-30 relative inline-flex h-6 w-11 flex-shrink-0 cursor-pointer rounded-full border-2 border-transparent transition-colors duration-200 ease-in-out;
}

label.toggle::after{
    display: inline-block;
    content: '';
    @apply translate-x-0 pointer-events-none inline-block h-5 w-5 transform rounded-full bg-white shadow ring-0 transition duration-200 ease-in-out;
}

.css-trigger:checked + label.toggle {
    @apply bg-azul-60;
}
.css-trigger:checked + label.toggle::after {
    @apply translate-x-5;
}

.label.toggle:focus {
    @apply outline-none ring-2 ring-azul-60 ring-offset-2
}

.input-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #D1D5DB;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    @apply px-[13px] py-[9px] text-2xs text-neutral-80 rounded-[6px];
    background-color: white;
}

.input-group .form-control {
    border: none;
    box-shadow: none;
    border-radius: 0;
    background-color: transparent;
    padding: 0;
}

/* <-- FORM CONTROLS */
/* CHAT --> */

#chat-button {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.22);
    @apply rounded-[10px] bg-rosa-10 p-[15px] flex justify-between items-center w-fit fixed right-[50px] bottom-[50px] cursor-pointer shadow-black/50;
    z-index: 500;
}

#chat-container {
    transform: translateY(-100%);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
    @apply absolute top-[-20px] right-[0px] w-[536px] h-[629px] rounded-lg bg-white grid grid-rows-[54px_1fr_60px];
}

/* <-- CHAT */

/* USER MENU --> */
.backdrop {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    z-index: 600;
}

/* <-- USER MENU */