@tailwind base;
@tailwind components;
@tailwind utilities;

/* GLOBALS --> */

html {
    @apply tw-text-neutral-80 tw-h-full tw-bg-neutral-10;
}

.tw-button-primary {
    @apply tw-flex tw-justify-center tw-rounded-md tw-items-center tw-border tw-border-transparent tw-bg-azul-60 tw-py-2 tw-px-4 tw-text-sm tw-font-medium tw-text-white tw-shadow-sm tw-text-2xs
}

.tw-button-secondary, button.secondary {
    @apply tw-flex tw-justify-center tw-rounded-md tw-border tw-border tw-items-center tw-border-neutral-30 tw-py-2 tw-px-4 tw-text-sm tw-font-medium tw-text-neutral-80 tw-shadow-sm tw-text-2xs tw-bg-white
}

.tw-option {
    @apply tw-grid tw-rounded-md tw-grid-cols-[1fr_15px] tw-gap-x-[15px] tw-items-center tw-px-[8px] tw-cursor-pointer tw-py-[9px] tw-my-2.5;
}

.tw-option.tw-rect {
    border-radius: 0;
    @apply tw-my-0;
}

.tw-option:hover {
    @apply tw-bg-neutral-20;
}

.tw-container {
    @apply tw-w-[1600px] tw-max-w-[100%] tw-mx-auto;
    z-index: 10;
}

.tw-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tw-flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tw-text-color-default {
    @apply tw-text-neutral-80;
}

.tw-text-color-title {
    @apply tw-text-azul-60;
}

.tw-text-color-light {
    @apply tw-text-neutral-60;
}

.tw-expand-item:not(:last-child)::after {
    content: '';
    display: table;
    @apply tw-h-0 tw-border-t-[2px] tw-border-t-white tw-w-[40px] tw-mt-1;
}

.tw-title {
    @apply tw-text-azul-60 tw-text-md tw-text-color-title tw-font-bold tw-w-fit;
}

.tw-title::after {
    content: '';
    display: table;
    @apply tw-h-0 tw-border-t-[2px] tw-border-t-azul-60 tw-w-[100px] tw-mt-1;
    max-width: 50%;
}

.tw-title-center::after {
    content: '';
    display: table;
    @apply tw-h-0 tw-border-t tw-border-t-azul-60 tw-w-[100px] tw-mt-1 tw-mx-auto;
}

.tw-home-main {
    min-height: calc(100vh - 90px);
    width: calc(100% - 442px);
}

.tw-wpre {
    white-space: nowrap;
}

@media (max-width: 1140px) {
    .tw-home-sm {
        width: 100%;
        margin-top: 30px;
        padding-right: 20px;
        padding-left: 20px;
    }

}

.tw-hr {
    width: 100%;
    height: 0px;
    @apply tw-border-neutral-40 tw-border-b;
}

.tw-close {
    position: absolute;
    right: 26px;
    top: 26px;
    width: 22px;
    cursor: pointer;
}

.tw-composed-button {
    @apply tw-flex tw-justify-between tw-items-center;
}

.tw-border-light {
    border: 1px solid #D1D5DB;
}

.tw-border-b-light {
    border-bottom: 1px solid #D1D5DB;
}

.tw-bg-azul-8 {
    background-color: #EFEFF9;
}

.tw-index-list {
    display: block;
    -moz-column-count: 3;
    -moz-column-gap: 20px;
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
    column-count: 3;
    column-gap: 20px;
    column-fill: balance;
}

.tw-radio-option {
    height: 50px;
    background: #FFFFFF;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.tw-05);
    border-radius: 5px;
    align-items: center;
    padding: 10px;
    @apply tw-grid tw-grid-cols-[30px_1fr_25px] tw-gap-x-[20px] tw-border-2 tw-border-transparent tw-cursor-pointer;
}

.tw-radio-option:hover {
    @apply tw-border-2 tw-border-azul-60;
}

.tw-radio-option .tw-check img {
    width: 13px;
}

.tw-radio-option .tw-check {
    border-radius: 50%;
    border: 2px solid #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
}

.tw-css-trigger:checked+.tw-radio-option .tw-check {
    border: 2px solid #00008F;
}

.tw-css-trigger+.tw-radio-option .tw-check .tw-i-2 {
    display: none;
}

.tw-css-trigger:checked+.tw-radio-option .tw-check .tw-i-1 {
    display: none;
}

.tw-css-trigger:checked+.tw-radio-option .tw-check .tw-i-2 {
    display: block;
}

/* <-- GLOBALS */
/* CSS TRIGGER --> */

.tw-css-trigger {
    position: absolute;
    width: 0;
    height: 0;
    visibility: hidden;
}

.tw-css-trigger-label {
    display: inherit;
}

.tw-css-trigger:not(:checked)+.tw-css-trigger-target {
    display: none !important;
}

.tw-css-trigger:not(:checked)+.tw-css-trigger-target-radio {
    display: none !important;
}

.tw-css-trigger:checked+.tw-css-trigger-target-radio+.tw-css-trigger-target-radio {
    display: none !important;
}

/* <-- CSS TRIGGER */
/* FORM CONTROLS --> */

.tw-form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 9px;
}

input.tw-form-control, textarea.tw-form-control {
    border: 1px solid #D1D5DB;
    @apply tw-py-2 tw-pl-3 tw-text-2xs tw-text-neutral-80 tw-rounded-[6px];
}

select.tw-form-control {
    @apply tw-block tw-rounded-md tw-border-neutral-40 tw-py-2 tw-pl-3 tw-pr-10 tw-text-2xs tw-h-fit;
}

.tw-form-control:focus {
    @apply tw-border-azul-60 tw-outline-none;
}

label.tw-toggle {
    transform: scale(1.tw-4);
    @apply tw-bg-neutral-30 tw-relative tw-inline-flex tw-h-6 tw-w-11 tw-flex-shrink-0 tw-cursor-pointer tw-rounded-full tw-border-2 tw-border-transparent tw-transition-colors tw-duration-200 tw-ease-in-out;
}

label.tw-toggle::after {
    display: inline-block;
    content: '';
    @apply tw-translate-x-0 tw-pointer-events-none tw-inline-block tw-h-5 tw-w-5 tw-transform tw-rounded-full tw-bg-white tw-shadow tw-ring-0 tw-transition tw-duration-200 tw-ease-in-out;
}

.tw-css-trigger:checked+label.tw-toggle {
    @apply tw-bg-azul-60;
}

.tw-css-trigger:checked+label.tw-toggle::after {
    @apply tw-translate-x-5;
}

.tw-label.tw-toggle:focus {
    @apply tw-outline-none tw-ring-2 tw-ring-azul-60 tw-ring-offset-2
}

.tw-input-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #D1D5DB;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.tw-05);
    @apply tw-px-[13px] tw-py-[9px] tw-text-2xs tw-text-neutral-80 tw-rounded-[6px];
    background-color: white;
}

.tw-input-group .tw-form-control, .tw-form-control.tw-no-border {
    border: none;
    box-shadow: none;
    border-radius: 0;
    background-color: transparent;
    padding: 0;
}

.tw-form-control[type="checkbox"] {
    @apply tw-h-4 tw-w-4 tw-rounded tw-border-gray-300 tw-text-azul-60 !tw-p-0;
}

.tw-form-control[type="checkbox"]:focus {
    @apply tw-ring-azul-60;
}

.tw-link {
    @apply tw-text-azul-60 tw-cursor-pointer;
}

.tw-link:hover {
    text-decoration: underline;
}

/* <-- FORM CONTROLS */
/* CHAT --> */

#chat-button {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.tw-22);
    @apply tw-rounded-[10px] tw-bg-rosa-10 tw-p-[15px] tw-flex tw-justify-between tw-items-center tw-w-fit tw-fixed tw-right-[50px] tw-bottom-[50px] tw-cursor-pointer tw-shadow-black/50;
    z-index: 500;
}

#chat-container {
    transform: translateY(-100%);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.tw-25);
    @apply tw-absolute tw-top-[-20px] tw-right-[0px] tw-w-[536px] tw-h-[629px] tw-rounded-lg tw-bg-white tw-grid tw-grid-rows-[54px_1fr_60px];
}

/* <-- CHAT */

/* USER MENU --> */
.tw-backdrop {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    z-index: 600;
}

/* <-- USER MENU */
/* USER MENU --> */

.tw-gestion-main-wrapper {
    background-color: #F3F4F6;
}

/* <-- USER MENU */
/* MAIN GESTION--> */

.tw-main-top {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.tw-11);
}

.tw-main-section-h {
    min-height: calc(100vh - 140px);
    height: fit-content;
}

/* <-- MAIN GESTION */
/* CUSTOM--> */
.t1 {
    @apply tw-font-normal tw-text-2xs;
}

.t1m {
    @apply tw-font-medium tw-text-2xs;
}

.t1s {
    @apply tw-font-semibold tw-text-2xs;
}

.t1b {
    @apply tw-font-bold tw-text-2xs;
}

.t1blue {
    @apply tw-font-bold tw-text-2xs tw-text-azul-60;
}

.t1l {
    @apply tw-text-2xs tw-text-neutral-60;
}

.t2 {
    @apply tw-font-normal tw-text-xs;
}

.t2s {
    @apply tw-font-semibold tw-text-xs;
}

.t2b {
    @apply tw-font-bold tw-text-xs;
}

.t2m {
    @apply tw-font-medium tw-text-xs;
}

.t2blue {
    @apply tw-font-bold tw-text-xs tw-text-azul-60;
}


/* ============== */


.bs-barra {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.11);
}

/* <-- CUSTOM */

.green-text {
    color: #00B050 !important;
}

/* TABS--> */

.tabs {
    @apply tw--mb-px tw-flex tw-space-x-[16px];
}

.tab {
    @apply tw-border-transparent tw-text-neutral-60 tw-inline-flex tw-items-center tw-pt-4 tw-pb-1.5 tw-px-1 tw-border-b-2 tw-font-medium tw-text-xs;
}

.tab:hover {
    @apply tw-text-gray-700 tw-border-neutral-40;
}

.tab.selected {
    @apply tw-border-red tw-text-azul-60 tw-inline-flex tw-items-center tw-pt-4 tw-pb-1.5 tw-px-1 tw-border-b-2 tw-font-medium tw-text-xs;
}

/* <-- TABS */
/* STEPS--> */

.step {
    border-radius: 50%;
    width: 16px;
    height: 16px;
    background-color: #DEDEDE;
}

.step.active {
    border: solid 3px #BFBFE3;
    background-color: #00008F;
}

.step.done {
    background-color: #00008F;
}

/* <-- STEPS */
/* EMPTY--> */
/* <-- EMPTY */


.upload-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 22px 26px 26px;
    gap: 4px;

    width: 670px;
    height: 144px;

    /* gray/300 */

    border: 2px dashed #D1D5DB;
    border-radius: 6px;
}

.standard-c-1 {
    @apply tw-bg-white tw-rounded-[10px] tw-p-[30px] tw-my-5 tw-relative tw-pb-[20px];
}

.table1 {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    overflow: hidden;
    @apply tw-min-w-full tw-divide-y tw-divide-neutral-40;
}

.table1 thead {

    @apply tw-bg-neutral-10;
}

.table1 thead tr th {
    @apply tw-uppercase tw-px-3 tw-py-3.5 tw-text-left tw-text-2xs tw-font-semibold tw-text-neutral-60;
}

.table1 tbody {
    @apply tw-divide-y tw-divide-neutral-40 tw-bg-white;
}

.table1 tbody td {
    @apply tw-whitespace-nowrap tw-px-4 tw-py-4 t2;
}

.edit {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #4F46E5;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.table2 .th{
    display: inline-flex;
    align-items: center;
    padding: 15px;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    --tw-text-opacity: 1;
    white-space: nowrap;
    color: rgb(100 116 139 / var(--tw-text-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(246 248 252 / var(--tw-bg-opacity));
    border-bottom: solid 1px #dedede;
    position: sticky;
   top: 0;
}

.table2 .th:first-child {
    border-top-left-radius: 6px;

}
.table2 .th:last-child {
    border-top-right-radius: 6px;
}

.table2 .thead, .table2 .tr {
   display: flex;
   width: 100%;
}

.table2 .thead {
    position: sticky;
    top: 0;
    left: 0;
}

.table2 .td {
    white-space: nowrap;
    padding: 15px;
    font-size: 16px;
    font-weight: 400;
    
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
}

.table2 .tr {
    border-bottom: solid 1px #dedede;
}

.table2 .expanded{
    border-bottom-style: dashed;
}
